<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dota Pick Helper</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>
<body id="body">
    <section id="user-goal">
        <p>{{outputGoal()}} <a v-bind:href="Link">KEK</a></p>
    </section>

    <section id="test-area">
        <input type="text" value="" v-on:input="inputAlert($event)">
    </section>

    <header class="header">
        HEADER
    </header>

    <section id="pick-hero" class="pick-hero">
        <div class="pick-hero__wrapper">
            <div class="pick-hero__wrapper__heroes">
                <div class="pick-hero__wrapper__heroes__radiant">
                    <img v-bind:src=""> <!-- 'icons/heroes/' + choosenHeroId + '-icon.jpg' -->
                </div>
                <div class="pick-hero__wrapper__heroes__radiant">
                    <img v-bind:src="">
                </div>
                <div class="pick-hero__wrapper__heroes__radiant">
                    <img v-bind:src="">
                </div>
                <div class="pick-hero__wrapper__heroes__radiant">
                    <img v-bind:src="">
                </div>
                <div class="pick-hero__wrapper__heroes__radiant">
                    <img v-bind:src="">
                </div>
            </div>
            <div class="pick-hero__wrapper__vs" v-on:click="calculateRating()">VS</div>
            <div class="pick-hero__wrapper__heroes">
                <div class="pick-hero__wrapper__heroes__dire">
                    <img v-bind:src="">
                </div>
                <div class="pick-hero__wrapper__heroes__dire">
                    <img v-bind:src="">
                </div>
                <div class="pick-hero__wrapper__heroes__dire">
                    <img v-bind:src="">
                </div>
                <div class="pick-hero__wrapper__heroes__dire">
                    <img v-bind:src="">
                </div>
                <div class="pick-hero__wrapper__heroes__dire">
                    <img v-bind:src="">
                </div>
            </div>
        </div>
        <div class="pick-hero__search">
            <input id="pick-hero__search__input" type="search" v-model="inputValue" readonly>
        </div>
    </section>
    
    <section id="list-hero" class="list-hero">
        <div class="list-hero__grid">
            <div v-for="(value, name) in heroes" class="list-hero__grid__item" v-bind:id="name" v-bind:class="value.disabled" v-on:click="onHeroChoose($event)" v-on:mouseleave="onMouseLeave($event)" v-on:mouseenter="onMouseEnter($event)">
                <img v-bind:src="value.url" v-bind:alt="name">
                <div class="list-hero__grid__item__rating">{{ value.rating }}</div>
                <div class="list-hero__grid__item__choice-menu-radiant">
                    <button>111</button>
                    <button>222</button>
                    <button>333</button>
                    <button>444</button>
                    <button>555</button>
                </div>
                <div class="list-hero__grid__item__choice-menu-dire">
                    <button>111</button>
                    <button>222</button>
                    <button>333</button>
                    <button>444</button>
                    <button>555</button>
                </div>
            </div>
        </div>
    </section>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="js/script.js"></script>
</body>
</html>